body {
    background-color: #000;
    color: #fff;
    margin: 0;
}

header {
    position: relative;
}

h1 {
    color: blue;
    text-align: center;
    padding: 5%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    z-index: 999;
    color: #ed820e;
    background-color: #89cb67;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.writing_article p{
    color: #dcaddd;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: center;
    border: 0;
}

.sticky {
    top: 0;
    position: fixed;
}

section {
    height: 500px;
}